<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>Plates system</title>

    	{% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body ng-app="plates_system" ng-controller="PlatesSystemController">
        <h1>Cars plate system</h1>

        <form ng-submit="plateAdd()">
            <h3>Add Plate</h3>
            Plate owner: <select ng-model="selectedOwner" ng-options="v.name for v in variants track by v.id"></select>
            Plate type: <select id="type" ng-model="plate_type" ng-options="v.type for v in variantsTypes"></select>
            Plate number: <input id="number" type="text" ng-model="plate_number" placeholder="General Use:XXXYYY; Electric: EVYYYY" maxlength="6" pattern="^[A-Za-z]{3}[0-9]{3}$|^EV[0-9]{4}$">
            <button type="submit" ng-click="saveData()">Add plate</button>
        </form>

         <form ng-submit="addOwner()">
            <h3>Add Owner</h3>
            Firstname: <input type="text" ng-model="owner_firstname" placeholder="Firstname" pattern="[A-Za-z]{1,20}">
            Surname: <input type="text" ng-model="owner_surname" placeholder="Surname" pattern="[A-Ža-ž]{1,20}">
             <button type="submit" ng-click="saveOwner()">Add owner</button>
        </form>

        <br>
            <table>
              <tr ng-repeat="plate in platesList">
                  <td ng-bind="plate.owner"></td>
                  <td ng-bind="plate.car_type"></td>
                  <td ng-bind="plate.numbers"></td>
                  <td>
                      <button ng-hide="editing" ng-click="editing = true">Edit</button>
                          <form ng-show="editing" ng-submit="editing = false">
                              <label>Plate owner:</label><select ng-model="update_owner[$index + 1]" ng-options="v.name for v in variants track by v.id"></select>
                              <label>Plate type:</label><select ng-model="update_type[$index + 1]" ng-options="v.type for v in variantsTypes"></select>
                              <label>Plate numbers:</label><input type="text" ng-model="update_plate[$index + 1]" placeholder="General Use:XXXYYY; Electric: EVYYYY" placeholder="General Use:XXXYYY; Electric: EVYYYY" maxlength="6" pattern="^[A-Za-z]{3}[0-9]{3}$|^EV[0-9]{4}$">
                              <button type="submit" ng-click="editSaveData($index+1, plate.id)">Save</button>
                              <button ng-show="editing" ng-click="editing = false">Cancel editing</button>
                           </form>
                  </td>
                  <td><button class="remove" ng-click="remove(plate.id, $index)">Remove</button></td>
              </tr>
            </table>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'js/functions.js' %}"></script>
    </body>
</html>
